@import url(bootstrap.min.css);
@import url(bootstrap-theme.min.css);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);

body {
	font-family: 'Open Sans', sans-serif;
}

img
{
	position: absolute;
	margin-bottom: 10px;
}

.input-group
{
	margin-top: 10px;
	margin-left: 120px;
}

.globalSearchContainer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 85px;
	background-color: #eeeeee;
	padding-top: 15px;
	padding-left: 10%;
	padding-right: 10%;
	z-index: 1;
}

#logo {
	padding-bottom: 0px;
	border: 0;
	width: 85px;
	height: 54px;
	background: url(../images/logo.svg) no-repeat;
	background-size: contain;
	position: absolute;
}

.searchContainer {
	padding-top: 15px;
}

.filterButton {
	z-index: 0;
}

.resultsContainer {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 100px;
	padding-bottom: 30px;
}

.pageSelector {
	padding-top: 30px;
	padding-left: auto;
	padding-right: auto;
}

#loveFooter {
	color: red;
	font-weight: bold;
}

footer {
	color: #b0b0b0;
	position: relative;
	bottom: 0;
	margin-bottom: 5px;
	padding-left: 15px;
}

footer a:link {
	text-decoration: none;
	color: #b0b0b0;
}

footer a:hover {
	text-decoration: none;
	color: #2cb8f3;
}

footer a:active {
	text-decoration: none;
	color: #b0b0b0;
}

footer a:visited {
	text-decoration: none;
	color: #b0b0b0;
}

#privacy {
	margin-left: 30px;
	margin-right: 30px;
}

#submit {
	margin-left: 30px;
	margin-right: 30px;
}

.pagination .active a {
	background-color: #2cb8f3;
	border-color: #2cb8f3;
}

.pagination .disabled a {
	color: #b0b0b0;
}

.pagination li a {
	color: #2cb8f3;
}

/* Search text results display */

#resultTitle a {
	color: #2cb8f3;
	font-weight: 600;
}

#resultTitle a:visited {
	color: #a33969;
	font-weight: 600;
}

.theResult {
	padding-top: 20px;
	padding-bottom: 20px;
}

#resultTitle {
	font-size: 20px;
	font-weight: bold;
}

#resultURL {
	/* color: #9f9f9f; */
	color: #8bad21;
	font-weight: 300;
}

#resultDesc {
	font-weight: 400;
	padding-bottom: 15px;
}

#resultMeta a {
	text-decoration: none;
	color: #c8c8c8;
}

#resultMeta a:hover {
	text-decoration: none;
	color: #6a6a6a;
}

#resultMeta {
	font-size: 12px;
	color: #c7c7c7;
	padding-top: 5px;
	position: absolute;
	z-index: 0;
}

#txtShare {
	padding-left: 17px;
	padding-right: 30px;
}

#btnShare {
	padding-top: 0px;
	padding-right: 10px;
}

#txtFavorite {
	padding-left: 17px;
	padding-right: 30px;
}

#btnLike {
	padding-top: 0px;
	padding-right: 10px;
}