@{
    Layout = null;
}

@model LoopWebsite.Models.PageModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"><meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>loop search Terms of Service</title>
    <link href="../../Content/css/terms.css" media="all" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="header">
        <p id="logoTitle"><a href="/"><img src="../../Content/images/logo.svg" alt="loop search" height="110px" /></a></p>
        <h1 id="headerTitle">Terms of Service</h1>
    </div>
    <div class="content">
        <h1>Agreed!</h1>
        <p id="subTitleContent">
            In order to keep our service fully functional for all of us, we'll need you to agree with our terms. <i>(We promise, it's for the best!)</i>
        </p>
        <p>You must follow any policies made available to you within the Services.</p>
        <p>Don’t misuse our Services. For example, don’t interfere with our Services or try to access them using a method other than the interface and the instructions that we provide. You may use our Services only as permitted by law, including applicable export and re-export control laws and regulations. We may suspend or stop providing our Services to you if you do not comply with our terms or policies or if we are investigating suspected misconduct.</p>
        <p>Using our Services does not give you ownership of any intellectual property rights in our Services or the content you access. You may not use content from our Services unless you obtain permission from its owner or are otherwise permitted by law. These terms do not grant you the right to use any branding or logos used in our Services. Don’t remove, obscure, or alter any legal notices displayed in or along with our Services.</p>
        <p>Our Services display some content that is not loop’s. This content is the sole responsibility of the entity that makes it available. We may review content to determine whether it is illegal or violates our policies, and we may remove or refuse to display content that we reasonably believe violates our policies or the law. But that does not necessarily mean that we review content, so please don’t assume that we do.</p>
        <p>Some of our Services are available on mobile devices. Do not use such Services in a way that distracts you and prevents you from obeying traffic or safety laws.</p>
        <p>Some of our Services allow you to submit content. You retain ownership of any intellectual property rights that you hold in that content. In short, what belongs to you stays yours.</p>
        <p>This agreement continues even if you stop using our Services. Make sure you have the necessary rights to grant us this license for any content that you submit to our Services.</p>
        <p>Our automated systems analyze your content relevant customized search results. This analysis occurs as the content is sent, received, and when it is stored.</p>
    </div>
</body>
<footer>
    <p>
        Made with <span id="loveFooter">&hearts;</span> in <i>Paris, France</i> &#9786;<br />
        <span id="cgu"><a href="@Url.Action("Terms", "PageIndex")">Terms of service</a></span><span id="privacy"><a href="@Url.Action("Privacy", "PageIndex")">Privacy policy</a></span><span id="about"><a href="@Url.Action("About", "PageIndex")">About us</a></span><span id="submit"><a href="@Url.Action("Submit", "PageIndex")">Submit a website</a></span>
    </p>
</footer>
</html>